body {
    background-color: #4C5DFF;  
}

.header { 
    background-image: url("../img/vegetables.jpeg");
    padding-bottom: 600px;
    padding-top: 200px;
}

h1 {
    
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 300%; 
    color: #4C5DFF;
    padding-top: 25px;
    padding-bottom: 5px;
    text-align: center;
}

.icons  {
    display: inline;
    font-size: 100%;
}

li a {
    text-decoration: none;
    padding: 5px;
}

input { 
    font-family: 'Hammersmith One', sans-serif;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button { 
font-family: 'Hammersmith One', sans-serif;
 background-color: #262F7F; 
 border-color: black; 
 border-width: 0.5px;
 padding: 10px;
 color: white; 
 width: 100%;

}

.icons a {
    font-size: 300%;
    color: #4C5DFF;
}


.subtitle {
    font-family: 'Merriweather', serif;
    text-shadow: 1px 0.5px 0.5px #000000;
    color: #4C5DFF;
    font-size: 160%;
    text-align: center;
    padding-top: 5px;
}


nav {
    text-align: center;
}



.icongroup a:hover {
  color: #262F7F;
  text-decoration: none}
}


form {
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#shopping-list {
    max-width: 60%;
    margin: auto;    

}

#display-data {
    line-height: 2rem;
    font-size: 140%;
    list-style-type: square;
    font-family: 'Hammersmith One', sans-serif;
    color: #262F7F;
    text-shadow: 1px 1px 0.5px white;
}

.feedback {
    color: #262F7F;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 140%;
    text-shadow: 1px 1px 0.5px white;
}
